<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="Shortcut Icon" href="img/pps.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/awesome/css/all.css" />
    <link rel="stylesheet" href="source/jquery.fancybox.css" />
    <link rel="stylesheet" href="source/jquery.fancybox-buttons.js" />
    <link rel="stylesheet" href="source/jquery.fancybox-thumbs.js" />
    <link rel="stylesheet" href="css/estilos.css" />

    <title>PPS plastic performance solutions</title>

    <script src="js/smooth-scroll.min.js "></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</head>

<body class="bg-light fuente " data-spy="scroll" data-target="#menu">

    <nav id="menu" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="navbar-brand" src="img/navlogo.fw.png" /></a>
        <span class="fuente-bold">
            <i class="fas fa-phone-alt"></i> <a href="tel:5520930527"> 55 2093-0527</a>
        </span>&nbsp;&nbsp;&nbsp;
        <span class="fuente-bold">
            <i class="fas fa-phone-alt"></i> <a href="tel:5589198596"> 55 8919-8596</a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto fuente  nav-pills ">
                <li class="nav-item">
                    <a data-scroll class="nav-link active" href="#presentacion"><i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-box"></i> Moldes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a data-scroll class="dropdown-item" href="#agricola"><i class="fas fa-dot-circle"></i> Agricola</a>
                        <a data-scroll class="dropdown-item" href="#bebidas"><i class="fas fa-dot-circle"></i> Bebidas</a>
                        <a data-scroll class="dropdown-item" href="#tarimas"><i class="fas fa-dot-circle"></i> Tarimas</a>
                        <a data-scroll class="dropdown-item" href="#bins"><i class="fas fa-dot-circle"></i> Bins</a>
                        <a data-scroll class="dropdown-item" href="#mobiliario"><i class="fas fa-dot-circle"></i> Mobiliario</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-concierge-bell"></i> Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a data-scroll class="dropdown-item" href="#consultoria"><i class="fas fa-dot-circle"></i> Consultoria en inyección de plástico</a>
                        <a data-scroll class="dropdown-item" href="#diseno"><i class="fas fa-dot-circle"></i> Diseño de Producto</a>
                        <a data-scroll class="dropdown-item" href="#operacion"><i class="fas fa-dot-circle"></i> Operación esbelta</a>
                    </div>
                </li>
                <li class="nav-item" ng-if="cases.length > 0">
                    <a class="nav-link" href="#casos_exito"><i class="fas fa-thumbs-up"></i> Casos de éxito</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#contacto"><i class="fas fa-envelope"></i> Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="my-5">&nbsp;</div>

    <section id="presentacion">
        <div id="PlasticPerformanceSolutions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#PlasticPerformanceSolutions" data-slide-to="0" class="active"></li>
                <li data-target="#PlasticPerformanceSolutions" data-slide-to="1"></li>
                <li data-target="#PlasticPerformanceSolutions" data-slide-to="2"></li>
                <li data-target="#PlasticPerformanceSolutions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item  active">

                    <img src="img/slide1.png" class="d-block w-100 atenuar" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="fuente-bold">Plastic Performance Solutions</h2>
                        <p>Tu aliando para maximizar rentabilidad</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/slide2.png" class="d-block w-100 atenuar" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="fuente-bold">Plastic Performance Solutions</h2>
                        <p>Tu aliando para maximizar rentabilidad</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/slide3.png" class="d-block w-100 atenuar" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="fuente-bold">Plastic Performance Solutions</h2>
                        <p>Tu aliando para maximizar rentabilidad</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/slide4.png" class="d-block w-100 atenuar" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="fuente-bold">Plastic Performance Solutions</h2>
                        <p>Tu aliando para maximizar rentabilidad</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#PlasticPerformanceSolutions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#PlasticPerformanceSolutions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </section>

    <div class="jumbotron bg-warning">
        <h1 class="display-4 fuente-bold text-center">Proyectos de inyección de plástico para la industria del empaque</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <span class=" mx-auto">
            <h1>Su aliado para maximizar rentabilidad</h1>
        </span>
        </div>
        <br/>
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-2"></div>
            <div class="my-2 col-xs-12 col-sm-12  col-md-3">
                <div class="card bg-orange imagen">
                    <div class="card-body">
                        <a href="https://www.aplasticsolutions.com/group-aps/">
                            <img width="50px" height="50px" src="img/svg/ico_1.svg" class="card-img-top" alt="...">
                            <h5 class="card-title ">APS Mould Rent
                            </h5>
                            <h6 class="card-subtitle mb-2 text-light "> Renta de moldes de inyección con alcance nacional e internacional.</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-2 col-xs-12  col-sm-12 col-md-2 "></div>
            <div class="my-2 col-xs-12 col-sm-12  col-md-3 ">
                <div class="card bg-orange imagen">
                    <div class="card-body">
                        <a href="http://www.mundimold.com/">
                            <img width="50px" height="50px" src="img/svg/ico_4.svg" class="card-img-top" alt="...">
                            <h5 class="card-title ">Mundimold
                            </h5>
                            <h6 class="card-subtitle mb-2 text-light ">Manufactura, mantenimiento y reparación de moldes.</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2"></div>
        </div>
    </div>
    <hr/>
    <br/>
    <br/>
    <div class="container-fluid mt-5 pt-5" id="agricola" style="background-image: url('img/backAgricolas.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row ">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light "> Moldes Agricola</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light"> Contamos con personal técnico para puesta en marcha y mantenimiento post venta en México¡ <br>Garantía de 1,000,000 inyecciones en moldes caja agrícola, tiempo de ciclo y tiempo de entrega firmados¡</p>
            </div>
        </div>

        <div class="row">
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola1.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola2.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola3.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola4g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola4.jpg" />
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola5g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola5.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola6g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola6.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola7g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola7.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-3 col-sm-12">
                <a id="exal" href="img/agricola8g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/agricola8.jpg" />
                </a>
            </div>
        </div>
        <div class=" py-5">&nbsp;</div>
    </div>

    <div class="container-fluid pt-5" id="bebidas" style="background-image: url('img/cero-residuos-apertura-1.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light  "> Moldes Bebidas</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light"> Amplia experiencia en fabricación de molde para inyección de caja refresquera¡</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bebidas1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bebidas1.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bebidas2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bebidas2.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bebidas3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bebidas3.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <br />
        <div class="row">


            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bebidas4g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bebidas4.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bebidas5g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bebidas5.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bebidas6g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bebidas6.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <div class=" py-5">&nbsp;</div>
    </div>
    <div class="container-fluid pt-5" id="tarimas" style="background-image: url('img/pallet.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light "> Moldes Tarimas</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light">Molde Stack Tool <span>Dos tarimas igual tamaño un solo molde!</span> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/tarimas1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/tarimas1.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/tarimas2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/tarimas2.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/tarimas3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/tarimas3.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/tarimas4g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/tarimas4.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/tarimas5g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/tarimas5.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/tarimas6g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/tarimas6.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <div class="py-5">&nbsp;</div>
    </div>


    <div class="container-fluid pt-5" id="bins" style="background-image: url('img/bigbox.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row ">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light "> Moldes Bins</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light">Moldes de hasta 50 toneladas </p><br/>
                <p class="text-light">Diseñamos tu contenedor de acuerdo a tus necesidades</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bins1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bins1.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bins2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bins2.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bins3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bins3.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bins4g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bins4.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/bins5g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/bins5.jpg" />
                </a>
            </div>
            <div class="my-2 my-2 col-md-2 col-sm-12">

            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <div class=" py-5">&nbsp;</div>
    </div>

    <div class="container-fluid pt-5" id="mobiliario" style="background-image: url('img/mobiliario.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light"> Moldes Mobiliario</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light">Moldes para piezas complejas o gran volumen </p><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/mob1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/mob1.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/mob2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/mob2.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/mob3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/mob3.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/mob4g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/mob4.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/mob5g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/mob5.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/mob6g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/mob6.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <div class=" py-5">&nbsp;</div>
    </div>

    <div class="container-fluid pt-5" id="consultoria" style="background-image: url('img/manorange.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light"> Consultoria en inyección de plástico</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light">Cambios de ingeniería para mejorar tiempo de ciclo o permitir el uso de materiales reciclados, difíciles de inyectar.<br/>Proyectos llave en mano, desde un bosquejo de producto, hasta entrenamiento de personal.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/diseno1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/diseno1.jpg" />
                </a>
            </div>

            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/diseno1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/diseno6.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/diseno2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/diseno2.jpg" />
                </a>
            </div>

            <div class="col-md-3 col-sm-12">

            </div>
        </div>


        <div class="py-5">&nbsp;</div>
    </div>

    <div class="container-fluid pt-5" id="diseno" style="background-image: url('img/diseno.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light"> Diseño de producto</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light">Estudio de elemento finito en el diseño de producto.<br/>Caja Uva plegable Tiempo ciclo 9 seg.<br/>El diseño personalizado permite compatibilizar su caja para convivir con su producto actual </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/diseno3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/diseno3.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/diseno4g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/diseno4.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/diseno5g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/diseno5.jpg" />
                </a>
            </div>

            <div class="col-md-3 col-sm-12">

            </div>
        </div>


        <div class="py-5">&nbsp;</div>
    </div>

    <div class="container-fluid pt-5" id="operacion" style="background-image: url('img/esbelta.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="bd-callout">
                    <h1 class="text-light"> Operación esbelta</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light">Establecimiento, implementación y seguimiento de indicadores.</p><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/oesbelta1g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/oesbelta1.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/oesbelta2g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/oesbelta2.jpg" />
                </a>
            </div>
            <div class="my-2 col-md-2 col-sm-12">
                <a id="exal" href="img/oesbelta3g.jpg">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="img/oesbelta3.jpg" />
                </a>
            </div>
            <div class="col-md-3 col-sm-12">

            </div>
        </div>
        <br />

        <div class="py-5">&nbsp;</div>
    </div>

    <div class="bg-dark" ng-app="ppsApp" ng-controller="ppsCtrl">
        <div class="container-fluid bg-bluebk" id="casos_exito" ng-if="cases.length > 0" style="background-image: url('img/exito.jpg'); background-repeat:no-repeat; background-size:cover;">
            <div ng-include="seccioncasos"></div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="mt-5 pt-5">&nbsp;</div>
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <h2>Socios comerciales</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <img class="img-par" width="1" height="1" class="img-responsive" src="img/mouldrent_logo_ok.svg" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                <img class="img-par" width="1" height="1" class="img-responsive" src="img/mundimold_logo.svg" />
            </div>
        </div>
        <div class="pt-5">&nbsp;</div>
    </div>

    <div style=" background-image:url('img/contact-bg.jpg'); background-repeat:no-repeat; background-size:cover;  ">
        <div class="container pt-5 " id="contacto">
            <div class="row pt-5">
                <div class="bd-callout">
                    <h1 class="text-light"> Contacto</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-6 ">
                    <form class="fixed" method="post" action="enviar.php">
                        <div class="form-group d-none">
                            <label>Pagina</label>
                            <input type="text" value="ppsmundimold.com.mx" id="pag" name="pag" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-sm text-light">Nombre</label>
                            <input type="text" id="nombre" maxlength="60" name="nombre" class="form-control form-control-sm" placeholder="Ingrese su Nombre" required>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-sm  text-light">Correo</label>
                            <input type="tel" id="correo" maxlength="100" name="correo" class="form-control form-control-sm" placeholder="Ingrese su Correo" required>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-sm  text-light">Telefono</label>
                            <input type="tel" id="telefono" maxlength="10" name="telefono" class="form-control form-control-sm" placeholder="Ingrese su Teléfono" required>
                        </div>
                        <div class="form-group d-none">
                            <label class=" form-control-sm">Asunto</label>
                            <input type="text" id="asunto" name="asunto" value="formulario" class="form-control form-control-sm" placeholder="Ingrese el asunto" required>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-sm  text-light">Comentarios</label>
                            <textarea class="form-control form-control-sm" id="mensajes" maxlength="250" name="mensajes" rows="3" cols="25" placeholder="Ingrese sus Comentarios" required></textarea>
                        </div>
                        <p class="text-center"><input class="btn btn-info btn-block" type="submit" value="Enviar"></p>
                    </form>
                    <!-- end #contact-form-2 -->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="container">
                        <div class="row mt-5 ">
                            <div class="col-md-6 text-light ">
                                <img src="img/mexico.jpg" />
                                <span class="font-weight-bolder text-light">PPS MEXICO</span><br/> Mexico D.F.<br/>
                                <span class="badge badge-dark"><a class="mail_home" href="mailto:erichard@ppsmundimold.com" target="_black">erichard@ppsmundimold.com</a></span>
                            </div>
                            <div class="col-md-6 text-light "><span class="footercard">
                                <img src="img/espana.jpg" /> 
                                <span class="font-weight-bolder ">APS SPAIN</span><br/> Valencia
                                <br/> <span class="badge badge-dark"><a class="mail_home" href="mailto:aps@aplasticsolutions.com" target="_black">aps@aplasticsolutions.com</a></span>

                            </div>

                        </div>
                    </div>
                    <br/>
                    <div class="container-fluid ">
                        <div class="row mt-5">
                            <div class="col-10 mx-auto">
                                <p class="text-center text-light"><span class="badge  badge-pill  badge-dark p-2"> <i class="fas fa-phone-alt"></i> <a href="tel:5520930527"> 55 2093-0527</a></span></p>
                                <p class="text-center text-light"><span class="badge  badge-pill  badge-dark p-2"> <i class="fas fa-phone-alt"></i> <a href="tel:5589198596"> 55 8919-8596</a></span></p>
                                <p class="text-center text-light">Vallarta 40, Tlalnepantla centro , Tlalnepantla, Estado de México CP 54000</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                    <i class="fas fa-map-marked-alt"></i> Ver Mapa
                        </button>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row py-5">&nbsp;</div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
        <div class="collapse navbar-collapse " id="navbarNavDropdown ">
            <ul class="navbar-nav ">
                <li class="nav-item active ">
                    <p class="nav-link text-secondary fuente ">Copyright ©2020 APS Advanced Plastic Solutions
                        <span class="badge  badge-pill  badge-dark p-2"> <i class="fas fa-phone-alt"></i>  <a href="tel:5520930527">55 2093-0527</a> </span>
                        <span class="badge  badge-pill  badge-dark p-2"> <i class="fas fa-phone-alt"></i>  <a href="tel:5589198596">55 8919-8596</a> </span>
                        <span class="badge badge-pill badge-info m-2"><a href="https://www.facebook.com/PlasticPerformanceSolutions/"><i class="fab fa-facebook-f"></i></a></span>
                        <!-- <span class="badge badge-pill badge-info m-2"><i class="fab fa-linkedin-in"></i></span>
                        <span class="badge badge-pill badge-info m-2"><i class="fab fa-instagram"></i></span> -->
                    </p>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="text-center"><i class="fas fa-map-marked-alt"></i> Vallarta 40, Tlalnepantla centro , Tlalnepantla, Estado de México CP 54000</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=1T7kyWXse0SVlBwOsBUVsIkhQxpWEORpb"></iframe>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="source/jquery.js "></script>
    <!-- <script src="js/jquery-3.5.1.slim.min.js "></script> -->
    <script src="js/bootstrap.min.js "></script>
    <script src="source/jquery.fancybox.pack.js"></script>
    <script src="source/jquery.fancybox-buttons.js "></script>
    <script src="source/jquery.fancybox-thumbs.js "></script>
    <script src="./js/angular_1_8_0/angular.min.js"></script>
    <script src="./js/indexCtrl.js"></script>

    <script>
        (function($) {
            $("#exal").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                helpers: {
                    title: {
                        type: 'over'
                    }
                }
            })
        })(jQuery);
    </script>

</body>

</html>